.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 2;
    margin-top: 10px;
    margin: 30px 50px;
    text-decoration: none;
    font-family: poppins;

}

.logo {
    font-size: 80px;
    text-decoration: none;
    list-style: none;
    color: black;
}

.menu {
    display: flex;
    font-size: 14px;
    list-style: none;
    gap: 45px;
}

.menuitems {
    display: flex;
    gap: 80px;
    list-style: none;
}

@media screen and (max-width: 630px){
    .menu {
        display: flex;
        flex-direction: row;
        font-size: 14px;
    }

    .navbar {
        margin: 20px 20px;
    }
    .logo {
        font-size: 50px;
        margin-top: 10px;
    }
}